<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCqQM-wwFBnPVG999whRIsTtqzAwuTrbdM</string>
	<key>GCM_SENDER_ID</key>
	<string>856028961442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Ehancreative.sejongarboretum</string>
	<key>PROJECT_ID</key>
	<string>sjarboretum</string>
	<key>STORAGE_BUCKET</key>
	<string>sjarboretum.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856028961442:ios:44d619fb5e306e652395fb</string>
</dict>
</plist>